@page "/listadocenti"

@using BlazorAppFITSTIC.Data
@using BlazorAppFITSTIC.Repository
@inject TeacherService ts

<h3>Lista Docenti</h3>


@if (teachers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Nascita</th>
                <th>Materie</th>
                <th>Corsi</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in teachers)
            {
                <tr>
                    <td>@t.Nome</td>
                    <td>@t.Cognome</td>
                    <td>@t.Data_Nascita.ToShortDateString()</td>
                    <td>@t.Materia</td>
                    <td>@t.Corsi.Count</td>
                    <td>
                        <a href="/dettagliodocente/@t.Id" class="btn btn-outline-info">Modifica</a>
                        <button class="btn btn-outline-danger" @onclick="_ => DeleteStudentAsync(t)">Elimina</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Teacher> teachers;

    protected override async Task OnInitializedAsync()
    {
        teachers = await ts.GetTeachers();
    }

    async Task DeleteStudentAsync(Teacher t)
    {
        teachers.Remove(t);
        await ts.Remove(t);
    }
}